@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cherry+Bomb+One&family=Cherry+Cream+Soda&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav li {
    @apply text-[14px] text-white cursor-pointer;
  }
  nav .social-link {
    @apply relative z-[2] size-[51px] rounded-full bg-[#FFD242] grid place-items-center border border-black;
  }
}

.hero {
  background-color: #113608;
  background-image: url("./assets/heroBg.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
